@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');



body
{
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: darkslategray;
}


main
{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

header
{
    text-align: center;
}

img
{
    width: 100%;
}

p.status
{
    color: hotpink;
    font-size: small;
}

p.contact
{
    text-align: center;
    font-size: x-large;
}

section
{
margin: 0 0 12px 0;
}

section.script
{
    background-color: GhostWhite;
    padding: 10px 20px;
}

h1{font-size: xx-large;}
h2{font-size: large; font-weight: bold;}

a
{
    color: hotpink;
}

a:hover
{
    text-decoration: none;
}
