@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

body
{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: darkslategray;
}


main
{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

header
{
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

p.contact
{
    text-align: center;
    font-size: x-large;

}


header img
{
    width: 100%;
    margin-bottom: 20px;
}

section
{
margin-bottom: 12px;
}

section.script
{
    background-color: GhostWhite;
    padding: 30px;
    border-radius: 20px;
}

section.complete
{
    background-color: hotpink;
    color: black;
}

section.script p.status
{
    color: hotpink;
    font-size: small;
    margin-bottom: 0;
}

section.complete p.status
{
    color: white;
    font-size: small;
    margin-bottom: 0;
}

section.script p
{
    margin-bottom: 12px;
}



h1
{
    font-size: x-large;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1;
}

h2
{
    font-size: x-large;
font-weight: 700;
margin-bottom: 12px;

}

a
{
    color: hotpink;
}

a:hover
{
    text-decoration: none;
}

footer
{
    margin: 40px 0;
}